<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.mapper.timetable">
	
	<!-- 사용자 선택목록 임시 저장 함수  -->
    <insert id="tempUserUniqueSave" parameterType="commonVO">
        INSERT INTO lecture_unique
        	(user_id, semester, department, grade, lecture, learn_p)
        VALUES
        	(#{user_id}, #{semester}, #{department}, #{grade}, #{lecture}, #{learn_p})
    </insert>
   
    <delete id="dropUserSaveList" parameterType="commonVO">
     	DELETE FROM lecture_unique
		WHERE user_id = #{user_id}
    </delete>
    
    <select id="selectUserUniqueSave"  parameterType="commonVO" resultType="commonVO">
        SELECT user_id, semester, department, grade, lecture, learn_p
        FROM   lecture_unique
        WHERE  user_id = #{user_id}
    </select>
</mapper>